<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">

        <table>
            <tr>
                <th>
                    Label
                </th>
                <th>
                    CAT ID
                </th>
                <th>
                    Path
                </th>
            </tr>
            <% eps.forEach(function(ep) { %>
            <tr>
                <td>
                    <%= ep.label %>
                </td>
                <td>
                    <%= ep.catid %>
                </td>

                <td>
                    <%= ep.path %>
                </td>
                <% }); %>
            </tr>
        </table>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
