<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <canvas id="doughnut_chart" style="width:400px;"></canvas>
    <div class="jumbotron">
        <ul>
            <% labels.forEach(function(label) { %>
                <li>
                    <strong><%= label.name %></strong>
                    <%= label.eps %>
                </li>
            <% }); %>
        </ul>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    Chart.overrides.doughnut.plugins.legend.display = false
    var ctx = document.getElementById("doughnut_chart");
    var labelChart = new Chart(ctx, {
        type: 'doughnut',
        data: {datasets: [{data: [<%- chartData %>]}], labels: [<%- chartLabel %>]},
        options: {
            //cutoutPercentage: 40,
            responsive: true,
            legend: {
                display: false
            },
            onClick: (e, activeEls) =>{
                let datasetIndex = activeEls[0].datasetIndex;
                let dataIndex = activeEls[0].index;
                let value = e.chart.data.datasets[datasetIndex].data[dataIndex];
                let label = e.chart.data.labels[dataIndex];
                console.log("In click", label, value);
                window.location.href = `eps?label=${label}`;
            },
        }
    });

</script>
</html>
